<nav>
	<a href="//owebboy.com">Home</a>
	<a href="//projects.owebboy.com" class="current">Projects</a>
	<a href="//owebboy.com/blog">Blog</a>
	<a href="//github.com/owebboy">Github</a>
	<a href="//twitter.com/owebboy">Twitter</a>
</nav>

<div class="wrapper">
	<h1>{{me.login}}'s {{title}} &#x1f352;</h1>
	
	<div class="repos">
		{{#each repos}}
		{{#unless fork}}
		<a class="repo" href="{{#if homepage}}{{homepage}}{{else}}{{html_url}}{{/if}}" target="_blank">
			<h2>{{name}}</h2>
			{{#if description}}
			<p>{{description}}</p>
			{{/if}}
		</a>
		{{/unless}}
		{{/each}}
	</div>
</div>